<div class="card mb-0">
    <div class="font-semibold text-xl mb-4">Add Venta Productos</div>
    <p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<form [formGroup]="ventaForm" (submit)="submitForm($event)" class="md:w-1/1">
    <div class="card flex flex-col gap-6 w-full mb-0">
        <div class="font-semibold text-xl">
            Orden Venta {{ventaForm.get('codigo')?.value}}
        </div>
        <!-- cliente -->
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <label class="font-semibold" for="cliente">Cliente: </label>
                <p-select id="cliente" formControlName="clienteId" [options]="clienteOptions" size="large" optionLabel="nombre"
                    placeholder="Seleccione Cliente" class="w-full">
                </p-select>
                @if( ventaForm.get('clienteId')?.invalid && (ventaForm.get('clienteId')?.touched ||
                ventaForm.get('clienteId')?.dirty) ) {
                <small class="text-red">Cliente no debe ser vacio.</small>
                }
            </div>
            <div class="flex gap-2 w-full flex-cc">
                <p-button class="mt-2" label="Cliente" icon="pi pi-user-plus" />
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-wrap gap-2 w-full">
                <label class="font-semibold" for="producto">Productos:</label>
                <p-select id="producto" filter="true" (onChange)="addDetalle($event.value)" [options]="productoPresentacionOptions"
                    optionLabel="presentacion" placeholder="Seleccione Producto" class="w-full">
                    <ng-template #selectedItem let-productoPre>
                        <div class="flex items-center gap-2">
                            <div>{{ productoPre.marca }} - {{ productoPre.presentacion }} x {{productoPre.unidadMedida}}
                                - Disponible: {{
                                productoPre.cantidadDisponibleStock}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-producto #item>
                        <div class="flex items-center gap-2">
                            <div>{{ producto.marca }} - {{ producto.presentacion }} x {{producto.unidadMedida}} -
                                Disponible:
                                {{producto.cantidadDisponibleStock}}</div>
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <div class="flex gap-2 w-full flex-cc">
                <label for="pago">Pagos: </label>
                <p-toggleswitch formControlName="hasPay" />
            </div>
        </div>
    </div>

    <p-table #dt [columns]="viewConfig.columns" [value]="detalle.controls" [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="false" dataKey="id">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="pl-1">Detalle venta</h5>
                <p-button icon="pi pi-arrow-left" (click)="visibleRight = true" [style]="{ marginRight: '0.25em' }" />
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                @for (col of viewConfig.columns; track col.field) {
                @if(col.visible) {
                <th [style]="col.width" [pSortableColumn]="col.field">
                    {{ col.header }}
                </th>
                }
                }
            </tr>
        </ng-template>
        <ng-template #body let-product let-editing="editing" let-index="rowIndex" let-expanded="expanded">
            <tr [formGroup]="product">
                <!-- <td style="min-width: 2rem; text-align: center;">P-{{ product.value.presentacionId }}</td> -->
                @for (col of viewConfig.columns; track col) {
                @if(col.visible) {
                @switch (col.field) {
                @case ('code') {
                <td>PR-{{ product.value.presentacionId }}</td>
                }
                @case ('producto') {
                <td style="min-width: 18rem">
                    {{ product.value.nombre }}
                </td>
                            }
                            @case ('estadoStock') {
                            <td style="min-width: 8rem">
                                <p-tag [value]="product.value.estadoStock" [severity]="getStockStatusClass(product.value.estadoStock)" />
                            </td>
                            }
                            @case ('precioVenta') {
                            <td style="min-width: 3rem" [pEditableColumn]="product.precio" pEditableColumnField="precio">
                                <p-cellEditor>
                                    <ng-template #input>
                                        <p-inputnumber inputId="precio" formControlName="precio" mode="decimal" [minFractionDigits]="2" />
                                        @if(product.value.precio <= 0) { <small class="text-red">precio debe ser mayor a 0</small>
                                            }
                                            </ng-template>
                                            <ng-template #output>
                                                {{ product.value.precio | currency: 'Bs ' }}
                                        @if(product.value.precio <= 0) { <small class="text-red">valor invalido</small>
                                            }
                                            </ng-template>
                                            </p-cellEditor>

                            </td>
                            }
                            @case ('cantidad') {
                            <td style="min-width: 3rem" [pEditableColumn]="product.cantidad" pEditableColumnField="cantidad">
                                <p-cellEditor>
                                    <ng-template #input>
                                        <p-inputnumber inputId="cantidad" formControlName="cantidad" />
                                        @if(product.value.cantidad <= 0) { <small class="text-red">cantidad debe ser mayor a
                                            0</small>
                                            }
                                            </ng-template>
                                            <ng-template #output>
                                                {{ product.value.cantidad }}
                                        @if(product.value.cantidad <= 0) { <small class="text-red">valor invalido</small>
                                            }
                                            </ng-template>
                                            </p-cellEditor>
                                            </td>
                            }
                            @case ('subtotal') {
                            <td style="min-width: 4rem">{{ product.value.subtotal }}</td>
                            }
                            @case ('') {
                            <td style="min-width: 8rem;">
                                @if(product.value.seControlaStock) {
                                <p-button [id]="product.presentacionId" type="button" pRipple [pRowToggler]="product.value" [text]="true"
                                    severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                                }

                                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="removeDetalle(index)" />
                                </td>
                            }
                            }
                            }
                            }

            </tr>
        </ng-template>
        <ng-template #expandedrow let-product>
            @if(product.value.seControlaStock) {
            <tr>
                <td colspan="8">
                    <div class="p-4">
                        <h6>Stocks Disponibles {{ product.value.nombre }}</h6>
                        <p-table [value]="product.value.stocks" dataKey="id">
                            <ng-template #header>
            <tr>
                <th>
                    <div class="flex items-center gap-2">Lote</div>
                </th>
                <th>
                    <div class="flex items-center gap-2">Fech. Vencimiento</div>
                </th>
                <th>
                    <div class="flex items-center gap-2">Ubicacion Stock</div>
                </th>
                <th>
                    <div class="flex items-center gap-2">Cantidad</div>
                </th>
            </tr>
            </ng-template>
            <ng-template #body let-stock>
                <tr>
                    <td>{{ stock.lote }}</td>
                    <td>{{ stock.expiracion }}</td>
                    <td>{{ stock.seccion }}</td>
                    <td>{{ stock.cantidad }}</td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="6">There are no Stock for this product yet.</td>
                </tr>
            </ng-template>
            </p-table>
            </div>
            </td>
            </tr>
            }
            </ng-template>
            <ng-template #footer>
                <tr class="font-bold">
                    <td style="text-align: center;" [attr.colspan]="columnasSpan">Total:</td>
                    <td colspan="2" style="min-width: 8rem; text-align: left;">
                        {{total}}
                    </td>
                    </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr style="text-align: center;">
                            <td colspan="7">No hay detalle venta.</td>
                        </tr>
                    </ng-template>
    </p-table>
    <div formGroupName="pagos" [className]="hasPay? 'card flex flex-col gap-4 mb-0 active':
            'card flex flex-col gap-4 noactive'">
        <div class="font-semibold text-xl mb-4">Pagos</div>
        <div class="flex flex-col md:flex-row gap-6 mt-1">
            <div class="flex gap-2 w-full">
                <label class="font-semibold" for="metodo">Metodo:</label>
                <p-select id="metodo" formControlName="tipo" [options]="metodoValues" optionLabel="name"
                    placeholder="Seleccione metodo" class="w-full">
                </p-select>
                <!-- <small class="text-red">El detalle esta vacio.</small> -->
            </div>
            <div class="flex gap-2 w-full flex-cc">
                <label for="monto">Monto: </label>
                <p-inputnumber formControlName="monto" mode="decimal" [minFractionDigits]="2" inputId="monto" />
            </div>
            <div class="flex gap-2 w-full flex-cc">
                <p-button label="Agregar" icon="pi pi-plus" (onClick)="addDetallePago()" />
            </div>
            <div class="flex gap-2 w-full flex-cc">
                Total Pago: {{ totalPago }}
            </div>
        </div>
        <p-table #dt2 [value]="detallePagos.controls" [tableStyle]="{ 'min-width': '30rem' }" [rowHover]="true" dataKey="id"
            [showCurrentPageReport]="true">
            <ng-template #header>
                <tr>
                    <th style="min-width: 2rem; text-align: center;">#</th>
                    <th style="min-width:8rem">
                        Metodo
                    </th>
                    <th style="min-width:5rem">
                        Monto
                    </th>
                    <th style="min-width: 8rem"></th>
                </tr>
            </ng-template>
            <ng-template #body let-pago let-editing="editing" let-index="rowIndex">
                <tr [formGroup]="pago">
                    <td style="min-width: 2rem; text-align: center;">{{ index + 1 }}</td>
                    <td style="min-width: 8rem">
                        {{ pago.value.tipo }}
                    </td>
                    <td style="min-width: 3rem" [pEditableColumn]="pago.value.monto" pEditableColumnField="monto">
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputnumber inputId="monto" formControlName="monto" mode="decimal" [minFractionDigits]="2" />
                                @if(pago.value.monto <= 0) { <small class="text-red">monto debe ser mayor a 0</small>
                                    }
                            </ng-template>
                            <ng-template #output>
                                {{ pago.value.monto }}
                                @if(pago.value.monto <= 0) { <small class="text-red">valor invalido</small>
                                    }
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="min-width: 4rem;">
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="removeDetallePago(index)" />
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr style="text-align: center;">
                    <td colspan="4">No hay pagos registrados.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="card flex flex-col gap-4 mb-0">
        <div class="flex flex-wrap gap-2">
            <p-button label="Guardar" [disabled]="ventaForm.invalid" type="submit" />
            <p-button label="Preventa" [disabled]="isPreventaDisable()" severity="info" (onClick)="submitForm()" />
            <p-button label="Cancelar" severity="secondary" routerLink="/venta" />
            <!-- <p-button label="Imprimir" severity="secondary" (onClick)="exportPdf(null)" /> -->
        </div>
    </div>
    <p-toast />
</form>

<p-drawer [(visible)]="visibleRight" header="Columnas Visibles" position="right" (onHide)="saveConfigColumns()">
    <!-- <div class="font-semibold text-xl">Columnas</div> -->
    <div class="flex flex-col gap-4">
        @for(col of viewConfig.columns; track col.field) {
        <!-- @if(col.field !== '') { -->
        <div class="flex items-center flex-jc-se">
            <label [for]="col.field" class="ml-2">{{col.header}}</label>
            <p-checkbox [id]="col.field" [binary]="true" [(ngModel)]="col.visible"
                [ngModelOptions]="{ standalone: true }" />
        </div>
        <!-- } -->
        }
    </div>
</p-drawer>
